<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
    <div class="board_wrap">
        <div class="header">
            <div class="board_title">
                <strong th:text="#{page.board.title}">title</strong>
                <p th:text="#{page.board.subtitle}">subtitle</p>
            </div>
        </div>
        <form class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num" th:text="#{label.board.no}">no</div>
                    <div class="title" th:text="#{label.board.title}">title</div>
                    <div class="writer" th:text="#{label.board.writer}">writer</div>
                    <div class="date" th:text="#{label.board.date}">date</div>
                </div>
                <div th:each="board : ${list}">
                    <div class="num" th:text="${board.boardNo}">5</div>
                    <div class="title">
                        <a href="view.html" th:href="@{/board/read/{boardNo}(boardNo=${board.boardNo},
                        page=${pageRequest.page}, searchType=${pageRequest.searchType},
                        keyword=${pageRequest.keyword})}" th:text="${board.title}">글 제목이 들어갑니다.</a>
                    </div>
                    <div class="writer" th:text="${board.writer}">홍길동</div>
                    <div class="date" th:text="${{board.regDate}}">2022.2.15</div>
                </div>
            </div>
            <div class="board_page">
                <a th:href="@{/board/list(page=${pagination.startPage-pagination.displayListNum},
                    searchType=${pageRequest.searchType}, keyword=${pageRequest.keyword})}"
                    class="bt prev" th:if="${pagination.prev}">&lt;</a>
                <a th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
                   th:classappend="${pageRequest.page == i} ? 'on'"
                   th:href="@{/board/list(page=${i}, searchType=${pageRequest.searchType}, keyword=${pageRequest.keyword})}"
                   th:text="${i}" class="num">1</a>
                <a th:href="@{/board/list(page=${pagination.endPage+1}, searchType=${pageRequest.searchType}, keyword=${pageRequest.keyword})}"
                   class="bt next" th:if="${pagination.next}">&gt</a>
            </div>
            <div class="bt_wrap">
                <form action="/board/list" method="get" class="bt_wrap">
                    <select class="button" th:field="${pageRequest.searchType}">
                        <option value="">==검색 방식 선택==</option>
                        <option th:each="searchTypeCode : ${searchTypeCodeValueList}"
                                th:value="${searchTypeCode.code}" th:text="${searchTypeCode.value}">value</option>
                    </select>
                    <input type="text" class="button" th:field="${pageRequest.keyword}">
                    <input type="submit" class="button" th:value="#{button.search}">
                </form>
            </div>
            <div class="bt_wrap">
                <a th:href="@{/board/register}" class="on" th:text="#{button.register}">write</a>
                <a href="/" class="on" th:text="#{button.home}">home</a>
            </div>
        </div>
    </div>
</body>
</html> 