<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong th:text="#{page.board.title}">title</strong>
            <p th:text="#{page.board.subtitle}">subtitle</p>
        </div>
        <form action="/board/register" method="post" enctype="multipart/form-data" class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt th:text="#{label.board.title}">title</dt>
                        <dd>
                            <input type="text" placeholder="제목 입력" th:field="${board.title}" th:errorclass="field-error">
                            <div class="field-error" th:errors="${board.title}">title error</div>
                        </dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt th:text="#{label.board.writer}">writer</dt>
                        <dd>
                            <input type="text" placeholder="글쓴이 입력" th:field="${board.writer}" th:errorclass="field-error">
                            <div class="field-error" th:errors="${board.writer}">writer error</div>
                        </dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력" th:field="${board.content}" th:errorclass="field-error"></textarea>
                    <div class="field-error" th:errors="${board.content}">content error</div>
                </div>
                <div class="cont">
                    <input type="file" name="file" class="file">
                </div>
            </div>
            <div class="bt_wrap">
                <input type="submit" class="button" th:value="#{button.register}">
                <a class="button" th:href="@{/board/list(page=${pageRequest.page}, searchType=${pageRequest.searchType},
                    keyword=${pageRequest.keyword})}" th:text="#{button.list}">list</a>
            </div>
        </form>
    </div>
</body>
</html>