<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<div class="board_wrap">
    <div class="home">
        <div class="board_title">
            <strong th:text="#{page.title}">title</strong>
            <p th:text="#{page.subtitle}">subtitle</p>
        </div>
    </div>
    <div class="bt_wrap">
        <a th:href="@{/member/login}" th:text="#{button.login}" class="on">login</a>
        <a th:href="@{/member/register}" th:text="#{button.join}" class="on">join</a>
        <a th:href="@{/board/list}" th:text="#{button.board}" class="on">board</a>
    </div>
</div>
</body>
</html>