<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
    <div class="board_wrap">
        <div class="header">
            <div class="board_title">
                <strong th:text="#{page.title}">title</strong>
                <p th:text="#{page.subtitle}">subtitle</p>
            </div>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num" th:text="#{label.no}">no</div>
                    <div class="title" th:text="#{label.title}">title</div>
                    <div class="writer" th:text="#{label.writer}">writer</div>
                    <div class="date" th:text="#{label.date}">date</div>
                </div>
                <div th:each="board : ${list}">
                    <div class="num" th:text="${board.boardNo}">5</div>
                    <div class="title">
                        <a href="view.html" th:href="@{/board/read/{boardNo}(boardNo=${board.boardNo}, page=${pageRequest.page})}"
                           th:text="${board.title}">글 제목이 들어갑니다.</a>
                    </div>
                    <div class="writer" th:text="${board.writer}">홍길동</div>
                    <div class="date" th:text="${{board.regDate}}">2022.2.15</div>
                </div>
            </div>
            <div class="board_page">
                <a th:href="@{/board/list(page=${pagination.startPage-pagination.displayListNum})}"
                   class="bt prev" th:if="${pagination.prev}">&lt;</a>
                <a th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
                   th:classappend="${pageRequest.page == i} ? 'on'"
                   th:href="@{/board/list(page=${i})}"
                   th:text="${i}" class="num">1</a>
                <a th:href="@{/board/list(page=${pagination.endPage+1})}"
                   class="bt next" th:if="${pagination.next}">&gt</a>
            </div>
            <div class="bt_wrap">
                <a href="write.html" th:href="@{/board/register}" class="on" th:text="#{button.write}">write</a>
            </div>
        </div>
    </div>
</body>
</html> 