<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<div class="board_wrap">
    <div class="home">
        <div class="board_title">
            <strong th:text="#{page.title}">title</strong>
            <p th:text="|${member.userId}님 안녕하세요|">subtitle</p>
        </div>
    </div>
    <div class="logout_wrap">
        <form th:action="@{/member/logout}" method="post" class="logout">
            <button type="submit" th:text="#{button.logout}" class="logoutBtn">logout</button>
        </form>
        <a th:href="@{/board/list}" th:text="#{button.board}" class="logout">board</a>
    </div>
</div>
</body>
</html>