<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
<div class="board_wrap">
    <div class="board_title">
        <strong th:text="#{page.title}">title</strong>
        <p th:text="|${member.userId}님 안녕하세요|">subtitle</p>
    </div>
    <div class="board_view_wrap">
        <div class="bt_wrap">
            <form th:action="@{/member/logout}" method="post">
                <button class="on" type="submit" th:text="#{button.logout}">logout</button>
            </form>
            <a th:href="@{/board/list}" th:text="#{button.board}" class="on">board</a>
        </div>
    </div>
</div>
</body>
</html>