<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong th:text="#{page.title}">title</strong>
            <p th:text="#{page.subtitle}">subtitle</p>
        </div>
        <form action="/board/register" method="post" class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt th:text="#{label.title}">title</dt>
                        <dd>
                            <input type="text" placeholder="제목 입력" th:field="${board.title}">
                            <div class="field-error" th:errors="${board.title}">제목 오류</div>
                        </dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt th:text="#{label.writer}">writer</dt>
                        <dd>
                            <input type="text" placeholder="글쓴이 입력" th:field="${board.writer}">
                            <div class="field-error" th:errors="${board.title}">작성자 오류</div>
                        </dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력" th:field="${board.content}"></textarea>
                    <div class="field-error" th:errors="${board.title}">내용 오류</div>
                </div>
            </div>
            <div class="bt_wrap">
                <input type="submit" class="on" th:value="#{button.write}">
                <a href="index.html" th:href="@{/board/list}" th:text="#{button.cancel}">cancel</a>
            </div>
        </form>
    </div>
</body>
</html>