<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.board.mapper.BoardMapper">

    <select id="list" resultType="Board">
        <![CDATA[
		SELECT board_no, title, content, writer, reg_date
		FROM board
		WHERE board_no > 0
		ORDER BY board_no DESC, reg_date DESC
		]]>
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="boardNo">
        INSERT INTO board (title, content, writer)
        VALUES (#{title}, #{content}, #{writer})
    </insert>

</mapper>